.button1 {
  height: 40px;
  width: 170px;
  background-color: white;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  margin: 25px;
  padding-top: 20px;
  float: left;
 

}

.button2 {
  min-height: 40px;
  min-width: 170px;
  background-color: white;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  margin: 25px;
  padding-top: 20px;
  float: left;
}

.body0 {
  display: flex;
}

.body1 {
  
  border: 5px;
  border-radius: 25px;
  border-style: solid;
  border-color: black;
  min-height: 60vh;
  min-width: 85vw;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.body2 {
  display: flex;
}

.body3{
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
}
